@font-face {
    font-family: Drift;
    src: url(font/Popart-Pixel.otf);
}
body{
    background-color: #fffeff;
    font-family: Drift;
    margin: 0;
    padding: 0;
}

#navigation{
    background-color: #020100;
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: center;
}
nav div{
    height:50px;
    display: flex;
    align-items: center;
    transition: background 0.15s ease-in-out;
}
nav div:hover{
    background-color: #dcdfe0;
}
nav div:hover a{
    color:#020100;
}
nav a{
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

#header{
    text-align: center;
    padding: 40px 20px;
}

#header h1{
    font-family: Drift, sans-serif;
    font-size: 60px;
    color: #020100;
}

#footer{
    background-color: #020100;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.nav{
    cursor: pointer;
}
